/* Tailwind imports */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Poppins variable */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: 'Poppins', sans-serif;
}

/* Apply font to body */
body {
  font-family: var(--font-poppins);
  /* Ensure Poppins is used */
  background-color: var(--background);
  color: var(--foreground);
}

/* Dark mode settings */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* Custom utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Keyframes for animation */
@keyframes slide-down {
  0% {
    transform: translateY(-20px);
  }

  50% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-20px);
  }
}

/* Custom border style */
.border-stroke {
  border-left: 13px solid #98DED9;
  border-radius: 15px;
}

.admin-page {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}